WindowsFormsApp2/bin/Debug/
WindowsFormsApp2/obj/Debug/
.vs/WindowsFormsApp2/v15/sqlite3/storage.ide
.vs/WindowsFormsApp2/v15/.suo
use-case-application/bin/Debug/WindowsFormsApp2.exe
use-case-application/bin/Debug/WindowsFormsApp2.pdb
use-case-application/obj/Debug/WindowsFormsApp2.pdb
use-case-application/obj/Debug/WindowsFormsApp2.exe
use-case-application/obj/Debug/use-case-application.csproj.GenerateResource.Cache
.vs/use-case-application/v15/sqlite3/storage.ide
.vs/use-case-application/v15/.suo
use-case-application/obj/Debug/use-case-application.csprojResolveAssemblyReference.cache
use-case-application/obj/Debug/use-case-application.csproj.CoreCompileInputs.cache
use-case-application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
use-case-application/obj/Debug/DesignTimeResolveAssemblyReferences.cache
use-case-application/obj/Debug/use-case-application.csproj.FileListAbsolute.txt
